body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

#backgroundVideo, #videoElement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area while maintaining aspect ratio */
  transform: scaleX(-1); /* Mirror the camera recording */
}

#overlayVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the overlay video is on top of the camera video */
  max-width: 99%; /* Set maximum width */
  max-height: 60%; /* Set maximum height */
  opacity: 1; /* Set the opacity to 100% */
}

#logoContainer {
  position: fixed;
  top: 10px; /* Adjust as needed */
  left: 7%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure the logo is on top of other elements */
}

#logoContainer img {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

#logoContainerTwo {
  position: fixed;
  top: 10px; /* Adjust as needed */
  left: 93%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure the logo is on top of other elements */
}

#logoContainerTwo img {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

#logoContainerThree {
  position: fixed;
  top: 640px; /* Adjust as needed */
  left: 93%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure the logo is on top of other elements */
}

#logoContainerThree img {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

#logoContainerFour {
  position: fixed;
  top: 630px; /* Adjust as needed */
  left: 7%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure the logo is on top of other elements */
}

#logoContainerFour img {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}






/* Show video controls when hovering over the video */
#backgroundVideo:hover::-webkit-media-controls {
  display: inline !important;
}
